.main_stepper_box {
    display: flex;
    justify-content: center;
}

.stepper_component {
    width: 800px;
}

.stepper_portals_box {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.project_descryption {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}